#########################################################################################
# Do not normalize line endings. This is needed for synchronization with internal source.
#########################################################################################
* -text